{{> main/header }}

<h3>Propriétaires<div class="ui blue left pointing label count-masters">{{proprios.size}}</div></h3>


<div class="ui info message top attached"><i class="info icon"></i>Ajout rapide de propriétaire</div>
<div class="ui segment bottom attached">
	<form action="/master/add" object="${master}" method="post">
		<div class="ui input">
			<input type="text" name="firstname" placeholder="First Name"/>
			<input type="text" name="lastname" placeholder="Last Name"/>
			<button class="ui icon button right attached" name="addButton"><i class="plus icon"></i></button>
		</div>
	</form>
</div>

<table class="ui celled table">
	<thead><th>Propriétaire</th><th>Actions</th></thead>
	{{#proprios}}
	<tr>
		<td>
			{{firstname}} {{lastname}}
			<div class="ui label count-master-dogs">
				<i class="dog icon"></i>{{dogs.size}}
			</div>
		</td>
		<td>
			<form action="/master/{{id}}/dog" object="${dog}" method="post">
				<div class="ui input">
					<input type="text" name="name" placeholder="Dog name">
				</div>

				<div class="ui floated right buttons">
					<button class="ui button negative" name="dog-action" value="give-up">Abandonner</button>
					<span class="or" data-text="ou"></span>
					<button class="ui button positive" name="dog-action" value="add">Acquérir</button>
				</div>

				<a class="ui black button delete-master" href="/master/{{id}}/delete">💀ded💀</a>
			</form>
		</td>
	</tr>
	{{/proprios}}
	{{^proprios}}
	<tr>
		<td colspan="2">
			<div class="ui warning message">
				<table>
					<td>
						<i class="huge exclamation circle icon"></i>
					</td>
					<td>
						<b>Pas de maître</b><br/>
						Il n'y a pas de maître dans la base de données.
					</td>
				</table>
			</div>
		</td>
	</tr>
	{{/proprios}}
</table>

<h3>Chiens à l'adoption<div class="ui red left pointing label count-dogs">{{dogsAdoption.size}}</div></h3>

<table class="ui celled table">
	<thead><th>Chien</th><th>Actions</th></thead>
	{{#dogsAdoption}}
	<form method="post" action="/dog/{{id}}/action">
		<tr>
			<td>{{name}}</td>
			<td>
				<div class="ui action input">
					<select name="choixMaitre" class="ui search dropdown" {{^proprios}}disabled{{/proprios}}>
					{{#proprios}}
					<option value="{{id}}">{{firstname}} {{lastname}}</option>
					{{/proprios}}
					{{^proprios}}
					<option selected value="">Aucun maître dans la base de données</option>
					{{/proprios}}
					</select>
					<button class="ui icon button" value="adopt" name="dog-action" {{^proprios}}disabled{{/proprios}} ><i class="plus icon"></i></button>
				</div>
				<button class="ui icon red button" value="remove" name="dog-action"  href="" {{^proprios}}disabled{{/proprios}}><i class="sign out icon"></i></button>
			</td>
		</tr>
	</form>
	{{/dogsAdoption}}
	{{^dogsAdoption}}
	<tr>
		<td colspan="2">
			<div class="ui positive message">
				<table>
					<td>
						<i class="huge info circle icon"></i>
					</td>
					<td>
						<b>Pas de chien</b><br/>
						Il n'y a pas de chien à l'adoption dans la base de données.
					</td>

				</table>
			</div>
		</td>
	</tr>
	{{/dogsAdoption}}
</table>

{{> main/footer }}